.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--font-geist-archivo);
    background: var(--color-dark-20);
}

.freeShippingMessage {
    font-weight: 500;
    font-size: 1.5rem;
    color: #121214;
    padding: 1rem 0;
}