.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--font-geist-archivo);
    background: var(--color-dark-20);
}

.freeShippingMessage {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-dark-10);
    padding: 1rem 0;
}

/* Tablet */
@media (max-width: var(--breakpoint-md)) {
    .freeShippingMessage {
        font-size: 1rem;
    }
}

/* Mobile */
@media (max-width: var(--breakpoint-sm)) {
    .freeShippingMessage {
        font-size: 0.875rem;
    }
}