.productGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 2rem;
    margin: 0 22rem;
    padding-bottom: 4.5rem;
}

.gridColumn {
    gap: 2rem;
}

@media (max-width: 1600px) {
    .productGridContainer {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 2rem;
    }
}

@media (max-width: 576px) {
    .productGridContainer {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 2rem;
    }
}