.sectionTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5rem 0 4.5rem;
    margin: 0 22rem;
    font-family: var(--font-geist-archivo);
}

.sectionDescription {
    display: flex;
    flex-direction: column;

    width: 37rem;
    gap: 2rem;
}

.sectionTitle {
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-dark-10);
    text-align: center;
}

.sectionText {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-dark-10);
    text-align: center;
}

/* Tablet */
@media (max-width: 768px) {
    .sectionTitleContainer {
        padding: 3.5rem 0 2.5rem;
        margin: 0 2rem;
    }

    .sectionDescription {
        gap: 1rem;
    }

    .sectionTitle {
        font-size: 1.5rem;
    }

    .sectionText {
        font-size: 1rem;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .sectionTitleContainer {
        margin: 0 2rem;
    }

    .sectionDescription {
        width: 100%;
    }

    .sectionTitle {
        font-size: 1.25rem;
    }

    .sectionText {
        font-size: 0.875rem;
    }
}