.cardProductContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.cardContent {
    gap: 2rem;
    padding-bottom: 2.5rem;
}

.productImage {
    padding: 2rem 5rem;
    width: 24.0625rem;
    background: var(--color-dark-20);
}

.productTitle {
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--color-dark-10);
    font-family: var(--font-geist-archivo);
    padding-top: 1rem;
}

.productDescription {
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-brand);
    font-family: var(--font-geist-archivo);
    padding-bottom: 1rem;
}

.productPrice {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--color-dark-10);
    font-family: var(--font-geist-space-grotesk);
}

@media (max-width: 768px) {
    .cardProductContainer {
    }
}