@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-brand: #7CA2F4;
    --color-dark-10: #121214;
    --color-dark-20: #F3F7FF;
    --color-white: #FFFFFF;

    --font-family-archivo: var(--font-geist-archivo);
    --font-family-space-grotesk: var(--font-geist-space-grotesk);

    /* Breakpoints padronizados */
    --breakpoint-xs: 480px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
}