@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-brand: #7CA2F4;
    --color-dark-10: #121214;
    --color-dark-20: #F3F7FF;
    --color-white: #FFFFFF;

    --font-family-archivo: var(--font-geist-archivo);
    --font-family-space-grotesk: var(--font-geist-space-grotesk);
}