.heroContainer {
    display: flex;
    justify-content: center;

    background-image: url('/image-michael-jordan.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    /* ou altura responsiva como 50vh, 100vh */
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heroHeader {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    padding-bottom: 2.5rem;
}

.heroTitle {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-white);
}

.heroDescription {
    display: flex;
    flex-direction: column;

    width: 37rem;
    gap: 2rem;
}

.heroSubtitle {
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-white);
}

.heroText {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-white);
}
