.heroContainer {
    display: flex;
    justify-content: center;

    background-image: url('/image-michael-jordan.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 22rem;
    width: 100%;
}

.heroHeader {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    padding-bottom: 2.5rem;
}

.heroTitle {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-white);
}

.heroDescription {
    display: flex;
    flex-direction: column;

    width: 37rem;
    gap: 1rem;
}

.heroSubtitle {
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-white);
}

.heroText {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-white);
}

@media (max-width: 768px) {
    .heroContent {
        margin: 0 2rem;
    }

    .heroTitle {
        font-size: 1.125rem;
    }

    .heroDescription {
        gap: 0.5rem;
    }

    .heroSubtitle {
        font-size: 1.5rem;
    }

    .heroText {
        font-size: 1.125rem;
    }
}

@media (max-width: 576px) {
    .heroContent {
        margin: 0 2rem;
    }

    .heroText {
        font-size: 1rem;
    }

    .heroDescription {
        gap: 0.5rem;
        width: 100%;
    }
}